<div class="row column text-center">
<h2>Ultimos Productos</h2>
<hr>
</div>

<div class="row small-up-2 large-up-4">

<% @latest_products.each do |product| %>
  <div class="column">
  	<img class="thumbnail" src="http://placehold.it/300x400">
    <%= image_tag product.image.url(:home), class: 'thumbnail' %>
    <h5><%= link_to product.cod, product %></h5>
    <p><%= product.price %></p>
    <%=link_to "Buy", product, class: "button expanded" %>

  </div>
<% end %>

</div>

<hr>
